@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "BrockChain Explorer";
    Layout = "_Layout2";
}


<style>
    .jumbotron {
        height: 100vh;
        margin-bottom: 60px;
        margin-top: -15px;
        background-image: url(../image/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
<link rel="stylesheet" href="~/css/Explorer.css" />
 <!--Page Layout-->
<div >
    <div class="text-center">
        <h1 class="display-4"> Now Developping! Please Wait!</h1>
        <h1 class="Transparent">a</h1>
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
